:root {
  color-scheme: light dark;
}

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

.react-aria-Input,
.react-aria-TextField {
  width: 100%;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.hidden,
[hidden] {
  display: none;
}

.full {
  width: 100%;
}

.default-action-cell {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5em;
  padding: 0 .25em;

  a,
  button {
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 6px;
    background-color: var(--purple-400);
    display: flex;
    justify-content: center;
    align-items: center;

    &.danger {
      background-color: var(--red-400);
    }
  }

  button {
    border: 0;
  }
}