.content {
  max-width: 1280px;
  margin: 2em auto;
  padding: 0 1em;
}

.form {
  max-width: 576px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .75em;
}

.newsArticle, .fileArticle {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.newsArticle {
  ol {
    margin-left: 2em;
  }
}
