.container {
  width: 100%;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.links {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5em;

  a {
    padding: .5em .75em;
    text-decoration: none;
    color: white;
    border-radius: 6px;

    $backgroundColor: rgb(90, 90, 212);
    background-color: $backgroundColor;

    &:hover {
      background-color: darken($color: $backgroundColor, $amount: 10%);
    }
  }
}

.actions {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5em;
  padding: 0 .25em;
}
