.container {
  width: 100%;

  hr {
    margin: 0 0 1em 0;
  }
}

.header {
  height: 4em;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    margin-right: 1em;
  }

  button {
    background-color: var(--red-300);
    border: 1px solid var(--red-400);
    border-radius: 6px;
    padding: .5em 1em;
    color: white;
    font-weight: 600;

    &:hover {
      background-color: var(--red-400);
    }
  }
}