.container {
  width: 100%;
  padding: 1em .5em;
}

.actions {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  a,
  button {
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 6px;
    background-color: var(--purple-400);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}