<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notícias</title>

  @entryPointStyles('app')
  @entryPointScripts('app')

  @!section('head')
</head>

<body class="w-full min-h-screen overflow-x-hiddenfont-sans">
  @include('partials/toast')
  @include('partials/header')

  @!section('body')
</body>

</html>
