<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>

  @entryPointStyles('app')
  @entryPointScripts('app')

  @!section('head')
</head>

<body class="w-full min-h-screen overflow-x-hidden bg-slate-50 dark:bg-slate-800 text-neutral-950 dark:text-neutral-50">
  @!section('body')
</body>

</html>